MEASUREMENT_API_KEY=
OPENWEATHER_API_KEY=
LOCATION_LAT=
LOCATION_LON=
WU_STATION_ID=
WU_STATION_KEY=
WINDY_API_KEY=
PWS_STATION_ID=
PWS_STATION_KEY=
AWEKAS_USERNAME=
AWEKAS_PASSWORD=
WEATHERCLOUD_DEVICE_ID=
WEATHERCLOUD_DEVICE_KEY=