body {
  @apply bg-white bg-no-repeat bg-top;
  background-size: 100% 100vh;

  &.spring {
    background-image: url("/condition_bg/spring.jpg");
  }

  &.summer {
    background-image: url("/condition_bg/summer.jpg");
  }

  &.fall {
    background-image: url("/condition_bg/fall.jpg");
  }

  &.winter {
    background-image: url("/condition_bg/winter.jpg");
  }
}
