@theme {
  --color-slate: var(--color-slate-600);
  --color-slate-alt: var(--color-slate-700);
  --color-slate-dark: var(--color-slate-900);
  --color-slate-light: var(--color-slate-100);

  --color-shadow: var(--color-slate-100);

  --color-text: var(--color-slate);
}
