.weather-grid {
  @apply grid grid-cols-2 lg:grid-cols-5 gap-3 mb-3;

  @media (min-width: 640px) and (max-width: 1023px) {
    grid-template-rows: 150px 150px 150px 150px 150px;
  }

  @media (min-width: 1024px) {
    grid-template-rows: 150px 150px 150px;
  }
}

.weather-tile {
  @apply border border-gray-200 bg-white rounded-lg flex flex-col shadow-lg;

  h2 {
    @apply m-0;
  }

  > .weather-tile-heading {
    @apply text-center font-bold text-sm sm:text-lg p-1 sm:p-2 border-b rounded-t-lg border-gray-200 bg-gray-50 text-gray-dark;
  }

  > .weather-tile-content {
    @apply flex flex-col flex-1 justify-center p-2 sm:p-4;

    .weather-tile-big {
      @apply text-center font-bold text-3xl lg:text-3xl text-gray-800;
    }

    .weather-tile-small {
      @apply text-center font-medium text-sm lg:text-xl text-gray-500;
    }

    .measurement-id {
      @apply text-xs text-gray-400 text-center font-mono;

      .live {
        @apply text-xs text-white bg-red-600 px-1 py-0.5 rounded-lg;
      }

      [data-weather-update-target="counter"] {
        transition: color 1s ease-out;
      }

      [data-weather-update-target="counter"].counter-flash {
        @apply text-red-600;
        transition: none;
      }
    }
  }

  &.current-temperature {
    @apply col-span-2 sm:col-span-1 sm:col-start-1 sm:row-start-1 sm:row-span-1 lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:row-span-2;

    .weather-tile-content {
      .current-temperature-f {
        @apply text-3xl lg:text-7xl text-gray-800 font-bold text-center;
      }

      .current-temperature-c {
        @apply text-xs sm:text-base lg:text-2xl text-gray-500 text-center;
      }
    }
  }

  &.current-wind {
    @apply col-span-1 sm:col-span-1 sm:col-start-2 sm:row-start-1 lg:col-span-1 lg:col-start-5 lg:row-start-1;
  }

  &.current-radar {
    @apply col-span-1 row-span-3 sm:col-span-1 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:col-span-2 lg:col-start-3 lg:row-start-1 lg:row-span-2;

    .weather-tile-content {
      @apply p-0;

      iframe {
        @apply w-full h-full rounded-b-lg;
      }
    }
  }

  &.current-dew-point {
    @apply col-span-1 sm:col-span-1 sm:col-start-1 sm:row-start-3 lg:col-span-1 lg:col-start-3 lg:row-start-3;
  }

  &.current-humidity {
    @apply col-span-1 sm:col-span-1 sm:col-start-1 sm:row-start-4 lg:col-span-1 lg:col-start-1 lg:row-start-3;
  }

  &.current-rain {
    @apply col-span-1 sm:col-span-1 sm:col-start-1 sm:row-start-2 lg:col-span-1 lg:col-start-5 lg:row-start-2;
  }

  &.current-pressure {
    @apply col-span-1 sm:col-span-1 sm:col-start-2 sm:row-start-4 lg:col-span-1 lg:col-start-2 lg:row-start-3;
  }

  &.current-solar {
    @apply col-span-1 sm:col-span-1 sm:col-start-1 sm:row-start-5 lg:col-span-1 lg:col-start-4 lg:row-start-3;
  }

  &.current-celestial {
    @apply col-span-1 sm:col-span-1 sm:col-start-2 sm:row-start-5 lg:col-span-1 lg:col-start-5 lg:row-start-3;

    .weather-tile-content {
      @apply flex flex-col justify-evenly p-2;

      .celestial-section {
        @apply flex items-center;

        .celestial-icon {
          @apply text-xl lg:text-2xl shrink-0 mr-2;
        }

        .celestial-times {
          @apply flex flex-col flex-1 text-sm;

          .celestial-event {
            @apply flex justify-between items-center;

            .celestial-label {
              @apply text-text font-medium;
            }

            .celestial-time {
              @apply text-text font-bold;
            }
          }
        }
      }
    }
  }
}
